body {
  font-family: 'Roboto', sans-serif;
  color: #1E1E1E;
  ;
}

h1 {
  margin-block-start: 50px;
  font-size: 70px;
}

h3 {
  font-size: 32px;
  margin-bottom: .5rem;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: .5rem;
}

p {
  font-size: 16px;
  color: rgb(105, 105, 105);
  line-height: 185%;
  letter-spacing: 0.05em;
}

h1,h2,h3,h4,h5    {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.icon {
height: 32px;
width: 32px;
margin-bottom: 1rem;
}

.icon svg {
  height: 100%;
  width: 100%;

}
.puffsContainer {
display: flex;
margin-top: 2.5rem;
gap: 2rem;

}

.singleValuePuff{
  background: #F7F7FA;
  border-radius: 8px;
  padding: 2rem;
  width: 32%;
  font-size: 14px;
  line-height: 22px;
}

.git:hover {
  background-color: rgb(95, 212, 228) !important;
  transition: 0.7s;
}
@media (max-width: 875px) {


  .puffsContainer {
  flex-wrap: wrap;
    
    }

    .singleValuePuff{
     width: 100%;
     padding: 1rem;
    }
}


